.shop{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.filter-panel{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.filter-panel *{
    background-color: white;
}
.search-panel input, .button-panel button{
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 4px 30px;
}
.search-panel, .button-panel {
    display: flex;
    gap: 10px;
}
.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
