.thematic-break{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.thematic-break > div{
    height: 0;
    width: 5vw;
    border: 1px solid black;
}