.app-info{
    display: flex;
    padding: 0 30%;
}
.app-info > img{
    align-self: scretch;
    margin-right: 25px;
}
.app-info > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app-info > div > p{
    text-align: center;
}